<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
       <rule name="Forward to static file server" stopProcessing="true">
            <match url="^.+(.js|.css|.png|.jpg|.ico|.svg)$" />
            <action type="Rewrite" url="dist{REQUEST_URI}" />
        </rule>
        <rule name="SPA">
         <rule name="SPA Routes" stopProcessing="true">
          <!-- match everything by default -->
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <!-- unless its a file -->
            <add input="{REQUEST_URI}" matchType="IsFile" ignoreCase="true" negate="true" />
            <!-- or a directory -->
            <add input="{REQUEST_URI}" matchType="IsDirectory" ignoreCase="true" negate="true" />
           <!-- list other routes or route prefixes here if you need to handle them server side -->
          </conditions>
          <!-- rewrite it to /index.html -->
          <action type="Rewrite" url="/dist/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>